<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd" 
        backupGlobals="false" 
        backupStaticProperties="false"
        bootstrap="./tests/phpunit/phpunit.php" 
        cacheDirectory=".phpunit.cache" 
        colors="true" 
        processIsolation="false" 
        stopOnFailure="false" 
>
    <testsuites>
        <testsuite name="All">
            <!-- have to add each test file here and run with the command `phpunit - -testsuit All` (no space between double dash) to make it test by order otherwise the db test may failed. -->
            <file>./tests/phpunit/PhpVersionTest.php</file>
            <file>./tests/phpunit/DBTest.php</file>
            <file>./tests/phpunit/PHP84/CreateDataTest.php</file>
            <file>./tests/phpunit/PHP84/ListingDataTest.php</file>
            <file>./tests/phpunit/PHP84/ReadDataTest.php</file>
            <file>./tests/phpunit/PHP84/UpdateDataTest.php</file>
            <file>./tests/phpunit/PHP84/DeleteDataTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
