<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./tests/phpunit/phpunit.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
>
	<testsuites>
		<testsuite name="All">
            <!-- have to add each test file here and run with the command `phpunit - -testsuit All` (no space between double dash). -->
            <file>./tests/phpunit/PhpVersionTest.php</file>
            <file>./tests/phpunit/DBTest.php</file>
            <file phpVersion="7.1" phpVersionOperator="&lt;">./tests/phpunit/PHPB71/CreateDataTest.php</file>
            <file phpVersion="7.1" phpVersionOperator=">=">./tests/phpunit/PHP71/CreateDataTest.php</file>

            <file phpVersion="7.1" phpVersionOperator="&lt;">./tests/phpunit/PHPB71/ListingDataTest.php</file>
            <file phpVersion="7.1" phpVersionOperator=">=">./tests/phpunit/PHP71/ListingDataTest.php</file>

            <file phpVersion="7.1" phpVersionOperator="&lt;">./tests/phpunit/PHPB71/ReadDataTest.php</file>
            <file phpVersion="7.1" phpVersionOperator=">=">./tests/phpunit/PHP71/ReadDataTest.php</file>

            <file phpVersion="7.1" phpVersionOperator="&lt;">./tests/phpunit/PHPB71/UpdateDataTest.php</file>
            <file phpVersion="7.1" phpVersionOperator=">=">./tests/phpunit/PHP71/UpdateDataTest.php</file>

            <file phpVersion="7.1" phpVersionOperator="&lt;">./tests/phpunit/PHPB71/DeleteDataTest.php</file>
            <file phpVersion="7.1" phpVersionOperator=">=">./tests/phpunit/PHP71/DeleteDataTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>